*::-webkit-input-placeholder {
    color: #000000;
}
*:-moz-placeholder {
    color: #000000;
}
*::-moz-placeholder {
    color: #000000;
}
*:-ms-input-placeholder {
    color: #000000;
}
* {
    margin: 0;
    padding: 0;
}

/* обязательный ввод в inpute */

body input:focus:required:invalid,
body textarea:focus:required:invalid {
    border: #f64141 2px solid;
}
body input:required:valid,
body textarea:required:valid {
    border: #add892 2px solid;
}
html {
    height: 100%;
}
body {
    font-family: 'FuturaPTMedium', sans-serif;
    font-size: 16px;
    line-height: 1.4;
    height: 100%;
    overflow-x: hidden;
}
a:hover {
    text-decoration: none;
    color: #ffffff;
}

/*START POPUP FORM*/

.hidden {
    display: none;
}
.fancybox-skin {
    padding: 0!important;
    border-radius: 10px!important;
    -webkit-box-shadow: 9px 12px 24px 3px rgba(0, 0, 0, .43)!important;
    box-shadow: 9px 12px 24px 3px rgba(0, 0, 0, .43)!important;
}
.popup__nav {
    padding: 88px 0 0 43px;
    text-align: center;
    background: url(../img/logo_popup.png) 162px 54px no-repeat;
}
.popup_form {
    z-index: 86;
    width: 810px;
    height: 486px;
    opacity: 1;
    border-radius: 9px;
    background: url('../img/popup_bg.png') no-repeat;
    background-color: rgb(22, 49, 103);
}
.popup__h3 {
    font-family: 'FuturaPTBold', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 50px;
    text-transform: uppercase;
    color: #ffffff;
}
.popup__input {
    width: 300px;
    height: 50px;
    margin-bottom: 10px;
    padding-left: 30px;
    color: black;
    border: none;
    border-radius: 5px;
    outline: none;
}
.popup__input:focus {
    border: none;
    outline: none;
}
.popup__nav .button {
    float: none;
}
.popup__button {
    width: 300px;
    height: 50px;
    color: white;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: #9bd079;
}
.popup__button:hover {
    cursor: pointer;
    background: rgb(53, 167, 110);
}
.popup__button:active {
    background: rgb(33, 147, 90);
    -webkit-box-shadow: 0 3px rgb(33, 147, 90) inset;
    box-shadow: 0 3px rgb(33, 147, 90) inset;
}

/*END POPUP FORM*/


/* START THANK_YOU FORM */

.thank_you_container {
    margin: 225px 0 0 0;
    text-align: center;
}
.t_strong {
    font-family: 'FuturaPTBold', sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 50px;
    text-transform: uppercase;
    color: #4cafd4;
}
.t_header__nav {
    margin-bottom: 75px;
}
.t_button_nav {
    margin: 0 auto;
}
.t_button {
    width: 195px;
    height: 42px;
    color: white;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: #9bd079;
}
.t_button:hover {
    cursor: pointer;
    background: rgb(53, 167, 110);
}
.t_button:active {
    background: rgb(33, 147, 90);
    -webkit-box-shadow: 0 3px rgb(33, 147, 90) inset;
    box-shadow: 0 3px rgb(33, 147, 90) inset;
}
.wrapper_count {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-x: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
}
.t_main {
    background: url('../img/bg_thank_you.png') no-repeat;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}
.t_footer {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

/* END THANK_YOU FORM */

.icon-bars,
.icon-close {
    font-family: 'iconmoon' !important;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-transform: none;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-close:before {
    content: '\e900';
}
.icon-close {
    font-size: 30px;
    display: none;
    color: #000000;
}
.icon-bars:before {
    content: '\e901';
}
.wrapper {
    /*overflow-x: hidden;*/
    min-width: 320px;
    margin: 0 auto;
}

/* START HEADER */

.header__nav {
    padding-top: 25px;
    padding-bottom: 25px;
}
.header_menu li {
    font-family: 'FuturaPTMedium', sans-serif;
    font-size: 36px;
    font-weight: 500;
    line-height: 113px;
    list-style-type: none;
    text-align: center;
    color: #000000;
}
.header_menu li a {
    padding-bottom: 32px;
    color: black;
}
.header_menu li a:hover li {
    color: #5f963b;
    background-color: white;
}
.header_menu {
    display: none;
    margin-top: 6px;
    background-color: #f3f3f3;
}
.header__nav .header__logo {
    position: relative;
    top: 3px;
}
.header_menu li:hover {
    cursor: pointer;
    background-color: #ffffff;
}
.header_menu li:hover a {
    color: #5f963b;
    border-bottom: 3px solid #9bd079;
    border-radius: 2px;
}
.header_menu li:nth-child(1) {
    -webkit-box-shadow: inset 0 3px rgba(0, 0, 0, .09);
    box-shadow: inset 0 3px rgba(0, 0, 0, .09);
}
.header_menu div {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    background-color: white;
}
.header_menu span {
    font-size: 36px;
    padding-right: 90px;
    padding-left: 45px;
    vertical-align: middle;
    background: url(../img/icon-phone.png) no-repeat 0;
}
.header_menu div a {
    font-size: 20px;
    float: none;
}
.header__nav .header__bars {
    vertical-align: bottom;
    text-decoration: none;
    color: black;
}
.header__bars {
    font-size: 24px;
}
.header__phone {
    font-size: 24px;
    font-weight: 500;
    float: right;
    padding-left: 42px;
    text-transform: uppercase;
    color: #000000;
    background: url('../img/icon-phone.png') no-repeat 3px;
}
header .menu .button {
    margin-top: 18px;
}
.button {
    display: inline-block;
    padding: .5em 2.5em;
    color: white;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: #9bd079;
}
.button:hover,
.header_menu li a:nth-child(6):hover {
    cursor: pointer;
    -webkit-transition: all .21s;
    transition: all .21s;
    background: rgb(53, 167, 110);
}
.button:active,
.header_menu li a:nth-child(6):hover {
    background: rgb(33, 147, 90);
    -webkit-box-shadow: 0 3px rgb(33, 147, 90) inset;
    box-shadow: 0 3px rgb(33, 147, 90) inset;
}
.header__h3,
.t_h1 {
    font-family: 'FuturaPTBold', sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase;
    color: #000000;
}
.header__strong {
    font-family: 'FuturaPTBold', sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    text-transform: uppercase;
    color: #4cafd4;
}
.header__title {
    margin-top: 86px;
    margin-bottom: 50px;
    text-align: center;
}
.slider_container {
    background: url('../img/bg_slider.png') no-repeat;
    background-size: cover;
}
.slider_count img {
    max-width: 100%;
}
.slider_count {
    position: relative;
}
.next_button,
.prev_button {
    font-size: 46px;
    position: absolute;
    z-index: 13;
    padding: 0 25px;
    cursor: pointer;
    color: #c6c9cb;
    border: 1px solid #c6c9cb;
    border-radius: 10em;
}
.next_button {
    top: 200px;
    right: -111px;
}
.prev_button {
    top: 200px;
    left: -111px;
}
.fa-angle-left:before {
    position: relative;
    left: -3px;
}
.fa-angle-right:before {
    position: relative;
    left: 3px;
}
.header__infoblock {
    padding-top: 43px;
    padding-bottom: 79px;
    text-align: center;
}
.header__infoblock h4 {
    font-family: 'FuturaPTBold', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 27px;
    color: #000000;
    margin-top: 27px;
}
.infoblock__nav li {
    display: inline-block;
    list-style-type: none;
    width: 360px;
}
.infoblock_li span {
    display: block;
    margin: 0 auto;
    background-repeat: no-repeat;
}
.infoblock_li:nth-child(1) span {
    width: 60px;
    height: 69px;
    background-image: url('../img/all_img.svg');
    background-position: -3px -3px;
}
.infoblock_li:nth-child(2) span {
    width: 93px;
    height: 52px;
    background-image: url('../img/all_img.svg');
    background-position: -67px -5px;
}
.infoblock_li:nth-child(3) span {
    width: 68px;
    height: 63px;
    background-image: url('../img/all_img.svg');
    background-position: -159px -3px;
}
.info_txt {
    font-family: 'FuturaPTMediumOblique', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    padding-left: 75px;
    text-align: right;
    color: #000000;
    background: url(../img/quotes.png) 15px 1px no-repeat;
    z-index: 9999;
    position: relative;
    bottom: 424px;
    float: right;
    left: -125px;
}
.menu {
    min-height: 94px;
    padding-top: 8px;
    background-color: #f3f3f3;
    -webkit-box-shadow: -5px 5px 3px rgba(0, 0, 0, .09);
    box-shadow: -5px 5px 3px rgba(0, 0, 0, .09);
}
.menu .header__logo {
    margin-top: 25px;
}
.menu__ul {
    margin-top: 18px;
    text-align: center;
}
.menu__ul ul li:nth-child(5) {
    padding-right: 0;
}
.menu__ul li {
    display: inline-block;
    padding-right: 35px;
    list-style: none;
}
.menu__ul ul li a {
    font-family: 'FuturaPTMedium', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 40px;
    text-decoration: none;
    color: #000000;
    padding-bottom: 34px;
}
.menu__ul li:hover a {
    -webkit-transition: all .21s;
    transition: all .21s;
    color: #5f963b;
    border-bottom: 3px solid #9bd079;
    border-radius: 2px;
}
.menu .header__button {
    margin-top: 20px;
}

/* END HEADER */


/* START MAIN */

.main__h2 {
    font-family: 'FuturaPTBold', sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase;
    color: #000000;
}
.main__strong {
    font-size: 30px;
    line-height: 40px;
    color: #9bd079;
}
.question {
    margin-top: 81px;
    text-align: center;
}
.ask__navmenu li h4 {
    font-family: 'FuturaPTBold', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 27px;
    text-transform: uppercase;
    color: #000000;
}
.ask__navmenu li span {
    display: block;
    margin: 0 auto 45px;
}
.ask__navmenu li:nth-child(1) span {
    background-image: url('../img/all_img.svg');
    background-position: -1px -78px;
    width: 69px;
    height: 69px;
}
.ask__navmenu li:nth-child(2) span {
    background-image: url('../img/all_img.svg');
    background-position: -80px -78px;
    width: 76px;
    height: 74px;
}
.ask__navmenu li:nth-child(3) span {
    background-image: url('../img/all_img.svg');
    background-position: -166px -73px;
    width: 71px;
    height: 80px;
}
.ask__navmenu li {
    display: inline-block;
    width: 274px;
    list-style-type: none;
    text-align: center;
}
.ask {
    margin-top: 50px;
    text-align: center;
}
.item3__p {
    font-family: 'FuturaPTBold', sans-serif;
    font-size: 32px;
    position: relative;
    top: 74px;
    left: -50px;
    -webkit-transform: rotate(-89deg);
    -moz-transform: rotate(-89deg);
    -ms-transform: rotate(-89deg);
    -o-transform: rotate(-89deg);
    text-transform: uppercase;
    color: #ebebeb;
}
.item4__p {
    font-family: 'FuturaPTBold', sans-serif;
    font-size: 140px;
    font-weight: 700;
    line-height: 40px;
    margin: 22px 0 50px 0;
    color: #5f963b;
}
.ask__hr {
    min-width: 100%;
    margin-top: 98px;
    border-top: 1px solid rgba(0, 0, 0, .1);
    background-color: #bfbfbf;
}
.humans {
    padding: 30px 0 35px 0;
}
.humans span {
    font-family: 'FuturaPTMedium', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    color: #000000;
}
.img_humans {
    background-image: url('../img/all_img.svg');
    background-position: 11px 136px;
    width: 170px;
    height: 117px;
    display: inline-block;
    margin: -10px 31px 0 172px;
}
.humans__span {
    display: inline-block;
    position: relative;
    top: -30px;
}
.main__function {
    background: url(../img/functions.png) no-repeat;
}
.function__h,
.catalog__h {
    margin-top: 47px;
    text-align: center;
}
.function__h3 {
    font-family: 'FuturaPTBold', sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase;
    color: white;
}
.function__strong {
    font-family: 'FuturaPTBold', sans-serif;
    font-size: 30px;
    line-height: 40px;
    color: white;
}
.function__span {
    font-family: 'FuturaPTMedium', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    color: #ffffff;
}
.function__item1 {
    min-width: 100%;
    height: auto;
    margin-top: 92px;
    border-radius: 10px;
    background: url('../img/bg_function2.png') no-repeat;
    background-position: -42px -36px;
}
.function__item1 img,
.function__item3 img {
    position: relative;
    top: -33px;
    left: -33px;
    float: left;
}
.function__item2 img {
    position: relative;
    top: -22px;
    left: 18px;
    float: right;
}
.function__top strong {
    font-family: 'FuturaPTBold', sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
}
.function__text {
    margin-top: 35px;
    padding-bottom: 60px;
    text-align: center;
}
.function__text2 {
    float: left;
    margin-top: 67px;
    margin-left: 67px;
    text-align: center;
}
.function__text3 {
    margin-top: 35px;
    padding-top: 30px;
    padding-bottom: 60px;
    text-align: center;
}
.green_span {
    color: #9bd079;
}
.function__item2 {
    min-width: 100%;
    min-height: 100%;
    margin-top: 53px;
    border-radius: 10px;
    background: url('../img/bg_function2.png') no-repeat;
    background-position: -42px -770px;
}
.function__item3 {
    height: 310px;
    margin-top: 92px;
    border-radius: 10px;
    background: url('../img/bg_function2.png') no-repeat;
}
.function__top {
    border-bottom: 103px solid #163167;
}
.about__h3,
.materials__h3,
.garanty__h4 {
    font-family: 'FuturaPTBold', sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    margin: 0 auto;
    padding-top: 60px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}
.catalog__h3 {
    font-family: 'FuturaPTBold', sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    margin: 0 auto;
    padding-top: 0;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}
.about {
    height: 100%;
    margin-bottom: 111px;
    background: url('../img/bg_about.png') no-repeat;
}
.about__block_2 {
    text-align: left;
}
.about__span {
    font-family: 'FuturaPTBold', sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
}
.about__p {
    font-family: 'FuturaPTBold', sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-align: right;
    color: #9bd079;
}
.about__block_2 i {
    font-size: 24px;
    font-weight: 700;
    padding-right: 9px;
    color: #5db7d7;
}
.about__block_2 p {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 0;
    color: #5db7d7;
}
.about__block_2 span {
    font-family: 'FuturaPTMedium', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    color: #000000;
}
.about__item {
    margin-top: 52px;
    text-align: center;
}
.materials__strong {
    font-family: 'FuturaPTBold', sans-serif;
    font-size: 24px;
    line-height: 30px;
    color: #5db7d7;
}
.materials__h {
    font-family: 'FuturaPTBold', sans-serif;
    text-align: center;
}
.materials {
    background: url('../img/bg_materials.png') no-repeat;
}
.article1 {
    margin-top: 45px;
}
.article1__span,
.article2__span,
.article3__span,
.article4__span {
    font-family: 'FuturaPTMedium', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    color: #000000;
}
.article1__item,
.article2__item,
.article3__item,
.article4__item {
    margin-top: 29px;
}
.article1__properties,
.article2__properties,
.article3__properties,
.article4__properties {
    margin-top: 41px;
}
.article1__properties span {
    font-family: 'FuturaPTBold', sans-serif;
    font-size: 18px;
    font-weight: 700;
    position: relative;
    top: 6px;
    color: #000000;
}
.art_prop_item_3 {
    position: relative;
    top: 28px;
    left: 21px;
}
.art_prop_item_4 {
    position: relative;
    top: 28px;
    left: 6px;
}
.art_prop_item_1 img,
.art_prop_item_2 img,
.art_prop_item_3 img {
    margin-right: 16px;
}
.art_prop_item_4 img {
    margin-right: 30px;
}
.article3 {
    margin-top: 45px;
}
.article4 {
    margin-top: 45px;
    padding-bottom: 113px;
}
.article__hr {
    opacity: .14;
    background-color: #000000;
}
.catalog__strong {
    font-size: 24px;
    line-height: 40px;
    color: #9bd079;
}
.catalog__properties {
    position: relative;
    top: 20px;
    left: 71px;
    height: 100%;
    padding: 40px;
    border: 1px solid #8dc967;
    border-radius: 10px;
    -webkit-box-shadow: -6px 2px 22px 2px rgba(0, 0, 0, .07);
    box-shadow: -6px 2px 22px 2px rgba(0, 0, 0, .07);
}
.catalog_container .catalog__properties {
    position: relative;
    top: 20px;
    left: 71px;
    height: 100%;
    padding: 40px;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.old_price {
    font-family: 'FuturaPTBold', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase;
    color: #000000;
}
.count__properties {
    margin-left: 57px;
}
.catalog__properties button {
    width: 156px;
}
.properties__hr {
    background-color: #bfbfbf;
}
.property__price {
    font-family: 'FuturaPTBold', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase;
    color: #000000;
}
.old__money {
    font-family: 'FuturaPTBold', sans-serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 60px;
    text-transform: none;
    color: #000000;
}
.property__money {
    font-family: 'FuturaPTBold', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 60px;
    color: #000000;
}
.prop__old_price {
    position: absolute;
    top: -27px;
    left: 141px;
    -webkit-text-decoration: line-through red;
    text-decoration: line-through red;
}
.prop__materials_h {
    font-family: 'FuturaPTBold', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
    color: #000000;
}
.properties__menu ul {
    margin-bottom: 0;
}
.properties__menu ul li {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-bottom: 40px;
    list-style-type: none;
}
.properties__menu ul li:nth-child(3) {
    padding-right: 77px;
}
.properties__menu ul li:nth-child(5) {
    margin-bottom: 0;
}
.properties__menu img {
    float: left;
    padding-right: 25px;
    padding-left: 25px;
}
.catalog__properties b {
    font-size: 24px;
    font-weight: 700;
    color: #000000;
}
.catalog__properties h6,
.properties_head,
.prop__span {
    font-family: 'FuturaPTLight', sans-serif;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 0;
    color: #000000;
}
.prop__span_cont {
    margin-right: 34px;
}
.prop__name {
    font-family: 'FuturaPTBold', sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #5db7d7;
}
.catalog__button {
    width: 225px;
    height: 50px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #f1f1f1;
}
.catalog__button_nav {
    margin: 0 auto;
    padding-top: 44px;
    text-align: center;
}
.catalog_container {
    display: none;
}
.catalog_container_item {
    max-width: 1207px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
    -webkit-box-shadow: -6px 2px 22px 2px rgba(0, 0, 0, .07);
    box-shadow: -6px 2px 22px 2px rgba(0, 0, 0, .07);
}
.contact_us {
    min-height: 412px;
    margin-top: 42px;
    background: url('../img/bg_contactus.png');
}
.contact_us__h,
.sleep__h {
    margin: 0 auto;
    padding-top: 63px;
    text-align: center;
}
.contact_us__h4,
.sleep__h5,
.sleep__left_strong,
.contact__h5 {
    font-family: 'FuturaPTBold', sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 50px;
    text-transform: uppercase;
    color: #ffffff;
}
.contact_us span {
    font-family: 'FuturaPTBold', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    color: #ffffff;
}
.contact_us__button {
    width: 225px;
    height: 50px;
    border-radius: 5px;
    background-color: #ffffff;
}
.contact_us__button_nav {
    margin-top: 45px;
    text-align: center;
}
.garanty {
    width: 100%;
    height: 100%;
    background: url('../img/bg_garanty.png');
}
.garanty__left_span,
.garanty__right_span {
    font-family: 'FuturaPTBold', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    color: #9bd079;
}
.garanty__left {
    position: relative;
    top: 104px;
    margin-bottom: 182px;
    text-align: center;
}
.garanty__right {
    position: relative;
    top: 135px;
    text-align: center;
}
.garanty__number_left p {
    font-family: 'FuturaPTBold', sans-serif;
    font-size: 160px;
    font-weight: 700;
    line-height: 40px;
    display: inline-block;
    text-transform: uppercase;
    color: #5f963b;
}
.garanty__number_left span {
    font-family: 'FuturaPTBold', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    text-transform: uppercase;
    color: #5f963b;
}
.garanty__number_left,
.garanty__number_right {
    margin-top: 70px;
}
.garanty__p {
    font-family: 'FuturaPTMedium', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    margin-top: 33px;
    color: #000000;
}
.garanty__icon,
.garanty__icon_right {
    height: 87px;
    padding: 20px;
    border: 1px dashed #d8d8d8;
    border-radius: 5px;
}
.garanty__icon span,
.garanty__icon_right span {
    font-family: 'FuturaPTMedium', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    color: #000000;
}
.garanty__icon i {
    padding: 0 20px 0 0;
    color: #9bd079;
}
.fa-question-circle-o {
    position: relative;
    top: 7px;
    right: 13px;
    color: #9bd079;
}
.garanty__icon {
    margin-right: -59px;
}
.garanty__icon_right {
    margin-left: -52px;
}
.garanty__right_span {
    color: #6dc8e6;
}
.garanty__number_right p {
    font-family: 'FuturaPTBold', sans-serif;
    font-size: 160px;
    font-weight: 700;
    line-height: 40px;
    display: inline-block;
    text-transform: uppercase;
    color: #163167;
}
.garanty__number_right span {
    font-family: 'FuturaPTBold', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    text-transform: uppercase;
    color: #163167;
}
.sleep {
    width: 100%;
    height: 100%;
    background: url('../img/sleep.png') no-repeat;
    background-color: #026da1;
}
.sleep__h strong {
    font-family: 'FuturaPTBold', sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 24px;
    color: #ffffff;
}
.sleep__left img {
    display: block;
    margin: 0 auto;
}
.sleep__left,
.sleep__right {
    margin: 87px 0 99px 0;
    text-align: center;
}
.sleep__left_strong {
    display: block;
}
.sleep__left span,
.sleep__right span {
    font-family: 'FuturaPTMedium', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    width: 279px;
    color: #ffffff;
}
.sleep__left img {
    margin-bottom: 26px;
}
.sleep__nav {
    position: relative;
    top: 200px;
}
.sleep__hr {
    position: relative;
    top: 100px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    opacity: .5;
    background-color: #ffffff;
}
.fa-caret-left,
.fa-caret-right {
    color: white;
}
i.fa.fa-caret-right.fa-4x {
    position: relative;
    top: 96px;
    left: -56px;
    float: right;
}
i.fa.fa-caret-left.fa-4x {
    position: relative;
    top: 97px;
    left: 56px;
}
.contact_right {
    max-width: 100%;
    min-height: 100%;
    opacity: .97;
    background-color: #163167;
}
.contact_right img {
    float: right;
    position: relative;
    top: 42px;
    height: auto;
}
.contact_right {
    color: #ffffff;
}
.contact_right__h {
    padding-top: 87px;
    padding-left: 67px;
    text-align: center;
}
.contact_right__h span {
    font-family: 'FuturaPTBold', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
}
.contact_right__h p {
    font-family: 'FuturaPTMedium', sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 24px;
    margin-top: 13px;
}

/* .contact .col-6 {
    padding-right: 0;
    padding-left: 0;
} */


/* .contact .row {
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
} */

.contact__form .button {
    padding: 0.9em 7.3em;
}
.contact__form button:hover {
    cursor: pointer;
    background: rgb(53, 167, 110);
}
.contact__form button:active {
    background: rgb(33, 147, 90);
    -webkit-box-shadow: 0 3px rgb(33, 147, 90) inset;
    box-shadow: 0 3px rgb(33, 147, 90) inset;
}
.contact__form input {
    width: 293px;
    height: 50px;
    margin-bottom: 10px;
    padding-left: 30px;
    border: none;
    border-radius: 5px;
    outline: none;
}
.contact__form {
    float: left;
    margin: 68px 0 0 153px;
}

/* END MAIN */


/* START FOOTER */

.infoblock .active {
    color: black;
    border: none;
    background-color: #ffffff;
}
.infoblock {
    position: absolute;
    top: 100px;
    left: 386px;
    width: 496px;
    height: 576px;
    background-image: url('../img/bg_map.png');
    background-position: -28px -26px;
    -webkit-box-shadow: 9px 12px 44px 5px rgba(0, 0, 0, .16);
    box-shadow: 9px 12px 44px 5px rgba(0, 0, 0, .16);
    box-shadow: 9px 12px 44px 5px rgba(0, 0, 0, .16);
}
.infoblock__img {
    margin: 86px 0 0 129px;
}
.tabs {
    margin-top: 37px;
    text-align: center;
}
.tab {
    font-family: 'FuturaPTBold', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    position: relative;
    width: 200px;
    height: 68px;
    margin-right: -6px;
    cursor: pointer;
    text-transform: uppercase;
    color: white;
    border: none;
    background-color: #d1d1d1;
}
.tab:focus {
    outline: none;
}
.tab:focus:after {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -13px;
    content: ' ';
    pointer-events: none;
    border: solid transparent;
    border-width: 13px;
    border-top-color: white;
}

/* .info_button_2:focus .info_button_1 {
    display: none!important;
} */


/* .info_button_1:after {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -13px;
    content: ' ';
    pointer-events: none;
    border: solid transparent;
    border-width: 13px;
    border-top-color: white;
} */

.info_button_2 {
    border-radius: 0 5px 5px 0;
}
.info_button_1 {
    border-radius: 5px 0 0 5px;
}
.infoblok__p {
    font-family: 'FuturaPTMedium', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 26px;
    margin-top: 30px;
    text-align: center;
    color: #ffffff;
}
.infoblock__info {
    margin-top: 50px;
    text-align: center;
}
.infoblock__info i {
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    color: #000000;
}
.infoblock__info p {
    font-family: 'FuturaPTMedium', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    margin-bottom: 0;
    color: #000000;
}
.infoblock__info_span {
    color: #ffffff;
}
footer p {
    font-family: 'FuturaPTBook', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 36px;
    margin: 38px 38px;
    text-align: center;
    color: #909090;
}

/* END FOOTER */